<% provide(:title, "Sign in") %>

<div class="row">
<!--   <div class="span6 offset3">
 -->    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.submit "Knock to enter", class: "btn" %>
    <% end %>

    <p>New user? <%= link_to "Add yourself to the tethrsphere", signup_path %></p>
  </div>
</div>