<div class="container-fluid">

<% provide(:title, "Sign in") %>
   <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email, class: "textinput" %>

      <%= f.label :password %>
      <%= f.password_field :password, class: "textinput" %>

      <%= f.submit "Login", class: "btn" %>
    <% end %>

    <p>New user? <%= link_to "Create your eventfeed now!", signup_path %></p>
  </div>
</div>