<% provide(:title, "Edit user") %> 

<div class="container-fluid">
  <span class="span12">
    <div class="well">

    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>


      <%= f.label :name, "Name:", class: "title" %>
      <%= f.text_field :name, class: "textinput" %>

      <%= f.label :description, "Describe yourself:", class: "title" %>
      <%= f.text_area :description, class: "textinput", :size =>"50x5" %>

<!--       <%= f.label :tags, "What types of events are you interested in hosting?", class: "title" %>
      <%= f.text_area :tags, class: "textinput", :size =>"50x5" %> -->

     <!--  <%= f.label :website, "About you:", class: "title" %>
      <%= f.text_field :website, class: "textinput" %> -->

      <%= f.label :email, "Email", class: "title" %>
      <%= f.text_field :email, class: "textinput" %>

      <%= f.label :password, "Password", class: "title" %>
      <%= f.password_field :password, class: "textinput" %>

      <%= f.label :password_confirmation, "Confirm Password", class: "title" %>
      <%= f.password_field :password_confirmation, class: "textinput" %>

<hr>
      <%= f.submit "Save changes", class: "btn" %>
    </div>
  </span> 
</div>
    <% end %>
<!-- 
    <%= gravatar_for(@user) %>
    <a href="http://gravatar.com/emails">change</a> -->
