<% provide(:title, "Edit user") %> 

<div class="container-fluid">
  <span class="span12">

    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>


      <%= f.label :name, "Group Name:" %>
      <%= f.text_field :name, class: "textinput" %>

      <%= f.label :description, "Describe the group:" %>
      <%= f.text_area :description, class: "textfield" %>

      <%= f.label :tags, "What do you love?" %>
      <%= f.text_area :tags, class: "textfield" %>

      <%= f.label :website, "You can be found online at:" %>
      <%= f.text_field :website, class: "textinput" %>

      <%= f.label :email %>
      <%= f.text_field :email, class: "textinput" %>

      <%= f.label :phone %>
      <%= f.text_field :phone, class: "textinput" %>

      <%= f.label :password %>
      <%= f.password_field :password, class: "textinput" %>

      <%= f.label :password_confirmation, "Confirm Password" %>
      <%= f.password_field :password_confirmation, class: "textinput" %>


      <%= f.submit "Save changes", class: "btn" %>
</span> 
</div>
    <% end %>
<!-- 
    <%= gravatar_for(@user) %>
    <a href="http://gravatar.com/emails">change</a> -->
