<% provide(:title, @user.name) %>

<div class="container-fluid">
  <div class="row-fluid">
    <span class="span12">
      <div class="well">
        <div class="title">
        <%= @user.name %>
        </div>
        <%= render 'follow_form' if signed_in? %>
        <p>
        <%= @user.description %>
        </p>
    <%= render 'shared/stats' %> 
      </div>


        <% if @user.microposts.any? %>
          <%= render @microposts %>
          <%= will_paginate @microposts %>
        <% else %>
          <div class="empty">
        <% if current_user?(@user) %>
          <center>You don't have any help <br><br><%= link_to 'Upload one now', help_path, class: "btn btn-success" %></center>
        <% else %>

        <% end %>
      </div>
    </span>
  </div>
</div>
<% end %>
      