<% provide(:title, @user.name) %>

<div class="container">
  <div id="sidenav">
<!--     <aside class="span4">
 -->    <div class="rectangle">
    <section>
      <h1><center>
        <%= gravatar_for @user %>
      </h1></center>
    </section>
     <section>
      <h1><center>
        <%= @user.name %>
      </h1></center>
    </section>
    <center>
       <%= render 'shared/stats' %></section></center><center>
<!--                <textarea class="textarea">write a note!</textarea>
 -->  </center>
 <center>

     <%= render 'phone' %></center>

          <%= render 'follow_form' if signed_in? %>
    </div>
    </aside>
  </div>
<!--   <div id="content">
    <div class="span6">
 -->      <% if @user.microposts.any? %>
             <div class="rectangle">

<!--           <h3>Projects (<%= @user.microposts.count %>)</h3>
 -->         <ol class="microposts">
        <%= render @microposts %>
        </ol>
        <%= will_paginate @microposts %>
      <% end %>
    </div>
  </div> 

</div>

