<% provide(:title, @user.name) %>

<div class="container-fluid">
  <div class="row-fluid">
    <span class="span3">
      <div class="well">
        <div class="title">
        <%= @user.name %>
        </div>
        <%= render 'follow_form' if signed_in? %>
        <p>
        <%= @user.description %>
        </p>
        <%= link_to @user.website, @user.website %><br>
         <%= mail_to @user.email, "Help" + " " + @user.name + " " + "out!", :subject => "Message from your tethrball from" + ' ' + @user.name %>

      </div>
    </span>
    <span class="span9">
      <div class="well">
        <% if @user.microposts.any? %>
          <%= render @microposts %>
          <%= will_paginate @microposts %>
        <% else %>
          <div class="empty">
          You have no asks for help yet. Create one now!
          </div>
      </div>
    </span>
  </div>
</div>
<% end %>
      