<% provide(:title, @title) %>
<div class="row">
   <aside class="span12">
    
<!--       <%= link_to gravatar_for @user, @user %>
 -->


 <br><br><br>
 <h1><%= @user.name %></h1> 
 See what brands Joann is following!

<!--       <span><%= link_to "view my profile", @user %></span>
      <span><b>Microposts:</b> <%= @user.microposts.count %></span> -->
<!--       <%= render 'shared/stats' %>
 --> 

  <!--      <% if @users.any? %>
        <div class="user_avatars">
          <% @users.each do |user| %>
            <%= link_to gravatar_for(user, size: 30), user %>
          <% end %>
        </div>
      <% end %>
  
  </aside> -->  

<!--   <div class="span8">
    <h3><%= @title %></h3>
 --> 


 <br><br><br>
 

    <% if @users.any? %>
      <class="users">
        <%= render @users %>
      
      <%= will_paginate %>
    <% end %>
</div>