
    <% if current_user?(micropost.user) %>
      <br><%= link_to "delete", micropost, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: micropost.content %>
    <%= link_to "edit", edit_micropost_path(micropost.id), @micropost %>

<% end %>

<br>
<div class="title">
      <%= link_to micropost.title, micropost_path(micropost.id) %>
   	</div>

      <p><%= micropost.content %></p> <br>
          <%= link_to "View event", micropost_path(micropost.id), class: "btn btn-success" %>

    <!--  <%= mail_to micropost.user.email, "View this event", :subject => "Message from your tethrball from" + ' ' + current_user.name, :body => "This message sent to you via tethrball. Check out " + current_user.name + "'s " + "profile here.", class: "label" %> -->
<hr>

<!--   <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
  </span> -->

